.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.dashboardNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #000;
  padding: 20px 20px;
  height: 100%;
  flex-shrink: 0;
  overflow: visible;
}

.dashboardContent {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}