.dashboard {
  width: 100%;
  height: 95vh;
}

.dashboardNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 12px;
  background-color: black;
  padding: 20px;
  width: 60px;
  height: 100%;
}

.dashboardContent {
  background-color: #1f1f1f;
  width: 80%;
}